*{
    box-sizing: border-box;
}

@font-face {
    font-family: "Satisfy, cursive;";
    src: url(Satisfy/Satisfy-Regular.ttf);
}
@font-face {
    font-family: "Fasthand";
    src: url(Fasthand/Fasthand-Regular.ttf);
}
.sections {
    background-color: rgb(238, 238, 237);
    margin: 10px;
    padding: 20px;
    box-shadow: 6px 6px rgb(74, 37, 11);
    clear:both;
    display: table;
    margin-left: auto;
    margin-right: auto;
}


h1 {
    font-size: 100px;
    font-family: "Satisfy", cursive;
    color: cadetblue;
    text-shadow: 6px 6px rgb(94, 115, 113);
    text-align: center;


    margin-bottom: -105px;
}
h2 {
    font-size: 100px;
    font-family: "Satisfy", cursive;
    color: rgb(176, 144, 76);
    text-shadow: 6px 6px rgb(6, 7, 7);
    text-align: center;
}
p{
    color: #0f0f0e;
    font-size: 20px;
    font-style: normal;

}

h4 {
    font-size: 50px;
    font-family: "Fasthand", cursive;
    color: rgb(78, 14, 14);
    text-shadow: 2px 2px rgb(243, 177, 53);
    text-align: center;
    margin-bottom: -30px;
}
#image {
   float: left;
   margin-left: 30px;
   box-shadow: 4px 4px rgb(7, 18, 55);
   height: 600px; 
   width: 400px
}

/* #image1 {
    float: left;
    margin-bottom: 30px;
    box-shadow: 4px 4px rgb(7, 18, 55);
    position: absolute;
    display: block;
 } */

 .column {
    float: left;
    width: 50%;
    padding: 20px;
 }
 h5 {
    font-size: 50px;
    font-family: "Fasthand", cursive;
    color: rgb(78, 14, 14);
    text-shadow: 2px 2px rgb(243, 177, 53);
    text-align: center;
    margin-bottom: -10px;
}

h7{
    font-size: 30px;
}
h8{
    font-size: 30px;
    text-align: center;
}
h9 {
    font-size: 20px;
}

h10 {
    font-size: 30px;
}
h11 {
    font-size: 20px;
}
h12 {
    font-size: 20px;
}
h13 {
    font-size: 20px;
    color: purple;
    
}
h14 {
    font-size: 20px;
}
h15 {
    font-size: 20px;
}
h16 {
    font-size: 20px;
}
h17 {
    font-size: 20px;
}
h18 {
    font-size: 20px;
}
h19 {
    font-size: 20px;
}
h20 {
    font-size: 30px;
    
}
#image2 {
    width: 700px;
    height: 500px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#image3 {
    width: 800px;
    height: 600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}


#image5 {
    width: 800px;
    height: 600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#image6 {
    width: 800px;
    height: 600px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#image3D {
    width: 800px;
    height: 600px;
}
#imageT {
    margin-bottom: -505px;
}

#image3D {
    display:block;
    margin-left: auto;
    margin-right: auto;
   
}


